body {
  margin: 0;
}

#root, html {
  background-color: black;
}

#calculator {
  max-width: 20rem;
  margin: 3rem auto 3rem auto;
}

.row {
  height: 80px;
  min-height: 50px;
}

#display {
  background-color: #e8e8e8;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 1.5rem;
  overflow: hidden;
}

.delete {
  background-color: #db2f21;
}

.nums {
  background-color: #262626;
  
}

.operator {
  background-color: #4a4a4a;
  
}

#equals {
  background-color: #3b962a;
  
}

button {
  width: 100%;
  color: #dbdbdb;
  border: 1px solid black;
}

button:hover {
  border: 1px solid #999999;
}




